
@font-face {
  font-family: 'Rye';
  src: url('/fonts/Rye-Regular.ttf') format('truetype');
}

body{
  position: relative;
  overflow: hidden;
  margin: 0;
}

*
{
    margin: 0;
    padding: 0;
}

#renderArea{
  position: fixed;
  top: 0;
  left: 0;
}

.doorPage{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  overflow: hidden;

  /* background-color: black; */
   /* background: radial-gradient(ellipse 80% 80% at 50% -20%, hsla(197, 66%, 83%, 0.3), rgba(255, 255, 255,0));

  backgroud: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(255, 255, 255, 0.3), rgba(255, 255,255,0)); */
}

#door1Page{
  display: block;
  overflow: hidden;
}

#renderHomePage{
  position: fixed;
}

.back-btn{
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.poster-title{
  font-size: 5rem;
  font-weight: bold;
}

.poster-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 15px;
  border: 2px solid black;
  font-family: 'Rye', serif;
  color: #3E2E20;
}

.poster-img-container{
  margin-top: 15px;
  width: 22rem;
  height: 20rem;
  border: 3px solid black;
  
}

.icon-button{
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;

}